    - name: Build with PyInstaller
      run: |
        pip install pyinstaller
        mkdir -p build
        pyinstaller --onefile --windowed --name Notepad --add-data "Themes;Themes" --add-data "*.ui;." --add-data "settings.json;." main.py
        cp dist/Notepad* build/